

  <div class="containerhome">

    <div class="img-theme">
      <%= image_tag 'ANCIENS COSTUMES DE BRETAGNE 2.jpg', class: 'imgt'%>
    </div>

    <div class="cardhome">
      <div class="blink">
        <%= link_to 'Livre', books_path(@books) %>
      </div>

      <div class="blink">
        <%= link_to 'Journaux', old_news_papers_path(@old_news_papers) %>
      </div>
      

      <div class="blink">
        <%= link_to 'Vieux Papiers', old_papers_path(@old_papers) %>    
      </div>
      

      <div class="blink">
        <%= link_to 'Cartes Postales', postal_cards_path(@postal_cards) %>    
      </div>

    </div>
  </div>
</div>  